.CharacterList {
	background: linear-gradient(to left, rgba(20, 15, 15, 0.822), rgba(3, 1, 1, 0.917));
	align-items: stretch;
	align-content: space-around;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-shrink: 2;
	justify-content: center;
	min-height: 80vh;
	min-width: 100vw;
	overflow-x: hidden;
}

body {
	font-size: 19px;
}
